input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
#btn-search {
  background: #003c43;
  color: #fff;
}
#btn-search:active {
  background: #006b77;
}
#btn-search:focus {
  background: #006b77;
  color: #fff;
}

thead tr {
  background: #003c43;
  color: #fff;
}
