.gol-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fcfcfc;
  position: relative;
  border-radius: 12px;
}
.gol-item:hover {
  -webkit-box-shadow: -6px 5px 166px -68px rgba(84, 84, 84, 1);
  -moz-box-shadow: -6px 5px 166px -68px rgba(84, 84, 84, 1);
  box-shadow: -6px 5px 166px -68px rgba(84, 84, 84, 1);
  background: white;
}
.gol-item img {
  padding: 18px;
  border-radius: 24px;
  height: 250px;
  width: 250px;
  transition: ease-in 0.2s;
}
.gol-item img:hover {
  width: 260px;
  height: 260px;
}
.text-gol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.custom-range::-webkit-slider-runnable-track {
  height: 8px;
  background-color: #00bcd4;
  border-radius: 10px;
}

.custom-range::-moz-range-track {
  height: 8px;
  background-color: #00bcd4;
  border-radius: 10px;
}

/* Custom style for slider thumb */
.custom-range::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background-color: #00bcd4;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px; /* Aligns the thumb with the track */
}

.custom-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #00bcd4;
  border-radius: 50%;
  cursor: pointer;
}

/* Labels */
.slider-labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #6c757d;
  margin-top: 5px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #003c43;
}

input:focus + .slider {
  box-shadow: 0 0 1px #003c43;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.sortby {
  gap: 4px;
}
