body {
  margin: 0;
  padding: 0;
  direction: rtl;
}

.hero-section {
  background-image: url("../Css/image.png"); /* مسیر تصویر خود را جایگزین کنید */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  color: white;
  z-index: -1;
  overflow: hidden;
  position: relative;
  border-bottom-left-radius: 1.75rem;
  border-bottom-right-radius: 1.75rem;
}
.title {
  position: relative;
  font-size: 6rem;
}

/* استایل منو */
nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: rgba(3, 103, 126, 0.6);
  width: 100%;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-left: 20px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

/* استایل محتوای اصلی */
.content {
  margin-top: auto;
  padding-bottom: 100px;
  position: absolute;
  top: 25%;
  right: 2%;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  background: #ffffff;
  background-clip: text;
  color: transparent;
}

.hero-section p {
  font-size: 1.5rem;
}

/* استایل مستطیل سبز */
.green-rectangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 1440px;
  background: rgb(57, 66, 66);
  background: linear-gradient(
    -61deg,
    rgba(21, 30, 30, 0.5) 44%,
    rgba(95, 190, 190, 0.7) 100%
  );
  border-radius: 15px;
  z-index: -1;
}
.wave {
  width: 100%;
  position: absolute;
  bottom: -100px;
  left: 0;
  overflow: hidden;
}
h4 {
  font-size: 2rem;
  margin: 6rem 0;
}
.mazaia {
  background: rgb(230, 249, 249);
  background: linear-gradient(
    rgba(230, 249, 249, 1) 16%,
    rgba(206, 232, 232, 1) 52%
  );
  padding: 25px;
}
.btn-seller {
  background-color: #003c43;
  font-weight: bold;
  cursor: pointer;
  margin-top: 4rem;
  margin-right: 1rem;
  -webkit-box-shadow: 0px 0px 66px 22px rgba(0, 36, 23, 0.8);
  -moz-box-shadow: 0px 0px 66px 22px rgba(0, 36, 23, 0.8);
  box-shadow: 0px 0px 66px 22px rgba(0, 36, 23, 0.8);
}
.title-txt {
  color: #003c43;
}
.mazaia-contant {
  gap: 0.75rem;
}
.border-seller {
  border: 2px solid #003c43;
  border-radius: 1rem;
}
.faraiand {
  background: rgb(233, 239, 236);
  background: linear-gradient(
    180deg,
    rgba(233, 239, 236, 1) 0%,
    rgba(206, 232, 232, 1) 100%
  );
  border-radius: 1rem;
}
.gap-def {
  gap: 1rem;
  padding-bottom: 4rem;
}
.accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.accordion__item {
  border: 1px solid #e5f3fa;
  border-radius: 10px;
  overflow: hidden;
}

.accordion__header {
  padding: 20px 25px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  padding-right: 3rem;
}

.accordion__header::after {
  content: "";
  background: url(https://www.svgrepo.com/show/357035/angle-down.svg) no-repeat
    center;
  width: 20px;
  height: 20px;
  transition: 0.4s;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}

.accordion__header.active {
  background: #cee8e8;
}

.accordion__header.active::after {
  transform: rotateX(180deg);
}

.accordion__item .accordion__content {
  padding: 0 25px;
  max-height: 0;
  transition: 0.5s;
  overflow: hidden;
}
