h1 {
  font-size: 1.5rem;
  margin-right: 5px;
}
.nazarat-sabtnazar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  row-gap: 2px;
  position: relative;
}
.nazarat {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items: center; */
  flex: 3;
}
.sabtnazar {
  border-radius: 5%;
  display: flex;
  background-color: white;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: fit-content;
}
.nazar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-right: 2rem;
  margin-top: 2rem;
  border-bottom: 1px solid gray;
  /* padding: 4px; */
  margin-bottom: 2rem;
  position: relative;
}
.like-dislike {
  position: absolute;
  bottom: 2%;
  left: 4%;
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  margin-top: 5rem;
}
.rating-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.rating-stars {
  color: #ffc107;
  font-size: 24px;
  margin: 10px 0;
}
.submit-btn {
  background: #003c43;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}
